mixin post(data = {}, mods = {})
    - const titleTag = 'h' + (mods.level || '3');
    article.post(class=mods.sidebar && "post_sidebar")&attributes(attributes)
        if data.img
            a(href=data.link aria-hidden="true" tabindex="-1").post__thumb
                img(src=data.img, alt=data.title).post__thumb-img
                .post__thumb-overlay
                    i.icon-plus.icons(aria-hidden="true")
        else if data.gallery
            +post-gallery(data.gallery).post__gallery
        else if data.embed
            iframe(
                src         = data.embed.src
                width       = data.embed.width
                height      = data.embed.height
                frameborder = "no"
            ).post__embed
        
        #{titleTag}.post__title(class="post__title_lvl_" + (mods.level || '3'))
            a(href=data.link).post__title-link= data.title

        .post__meta
            .post__pubdate
                i.far.fa-clock(aria-label="Publised on")
                time(datetime=data.date)= blogDate(data.date)
                |  by 
                a(href=data.authorLink).post__author-link= data.author
            
            .post__comments
                i.far.fa-comment(aria-label="Comments")
                | #{' '}
                span #{data.comments}
            .post__likes
                i.far.fa-heart(aria-label="Likes")
                | #{' '}
                span #{data.likes}
        // /.post__meta 

        if data.excerpt
            .post__excerpt.text
                p= data.excerpt
            // /.post__excerpt 

            .post__bottom
                +btn({
                    text : 'Read more',
                    url  : data.link,
                }, {theme: 'primary'}).post__read-more

                +share().post__share
            // /.post__bottom 