mixin cart-coupon(data = {}, mods = {})
    .cart-coupon&attributes(attributes)
        input(
            type="text"
            name="coupon_code"
            placeholder="Coupon code..."
            id="cart-coupon-code"
            aria-label="Coupon code"
        ).cart-coupon__input
        button(
            type="button"
            name="apply_coupon"
            value="Apply coupon"
        ).cart-coupon__btn Apply Coupon