mixin account(data = {}, mods = {})
    .account&attributes(attributes)
        form.account__form(method="post" action="#")
            label.account__label
                i.icon-user.icons.account__icon(
                    aria-label="Username or Email Address"
                )
                input.account__input(
                    type        = "text"
                    name        = "username"
                    placeholder = "Username or Email Address"
                    required    = true
                )
            label.account__label
                i.icon-lock.icons.account__icon(
                    aria-label="Passwords"
                )
                input.account__input(
                    type        = "password"
                    name        = "password"
                    placeholder = "Password"
                    required    = true
                )
            
            .btn-group.account__btns
                +btn({}, {theme: 'secondary'})(
                    type = "submit"
                    name = "register"
                ).btn-group__btn Register
                +btn({}, {theme: 'primary'})(
                    type = "submit"
                    name = "login"
                ).btn-group__btn Login
        
        .account__social
            .account__social-text Connect with
            ul.account__social-list
                li.account__social-item
                    a(href="javascript:void(0);").account__social-link
                        i.fab.fa-twitter(
                            aria-label="Follow us on Twitter"
                        )
                li.account__social-item
                    a(href="javascript:void(0);").account__social-link
                        i.fab.fa-facebook-f(
                            aria-label="Follow us on Facebook"
                        )
                li.account__social-item
                    a(href="javascript:void(0);").account__social-link
                        i.fab.fa-google-plus-g(
                            aria-label="Follow us on Google Plus"
                        )

        .account__lang
            +lang-menu()
