mixin shop-grid(data = {}, mods = {})
    .shop-grid&attributes(attributes)
        .page__container
            h1.title.title_center.shop-grid__title= data.title
            p.shop-grid__intro= data.intro

            .shop-grid__header
                .shop-grid__header-left
                    ul.shop-grid__layouts
                        each layout in data.layouts
                            li.shop-grid__layout-item
                                a.shop-grid__layout-link(
                                    class = layout.selected && "shop-grid__layout-link_selected"
                                    href  = layout.link
                                )
                                    i(
                                        class      = layout.iconClass
                                        aria-label = layout.label
                                    )
                    // /.shop-grid__layouts
                
                    .shop-grid__result-number Showing 1-#{data.products.length} of 
                        | #{data.totalProducts} products
                // .shop-grid__header-left 
                
                .shop-grid__header-right
                    .shop-grid__views View 
                        each view, i in data.views
                            if i > 0
                                | #{' / '}
                            a(href="javascript:void(0);").shop-grid__view-link
                                | #{view}
                    // /.shop-grid__views

                    form(action="#").shop-grid__order-form
                        select.shop-grid__order-select
                            each option in data.sort
                                option(value=option).shop-grid__order-option
                                    | Sort by #{option}
                    // .shop-grid__order-form 
                // .shop-grid__header-right 
            // /.shop-grid__header 

            .shop-grid__container
                .shop-grid__items
                    each product in data.products
                        .shop-grid__item(
                            class="shop-grid__item_col_" + data.itemCol
                        )
                            +product(product, {large: data.itemCol == "1-2"})
            // /.shop-grid__container 

            +pagination(data.pagination).shop-grid__pagination
        // /.page__container 
    // /.shop__grid 
