mixin product(data = {}, mods = {})
    .product(class = {
        product_small : !!mods.small,
        product_large : !!mods.large,
    })&attributes(attributes)
        if data.sale
            - const saleTheme = data.saleTheme || 'circle';
            .product__sale(class="product__sale_theme_" + saleTheme) Sale
        
        if data.img
            .product__thumb
                .product__thumb-inner
                    img(src=data.img, alt=data.name).product__thumb-img

                    .product__thumb-overlay
                        +btn({
                            url: 'javascript:void(0);',
                            text: 'Add to cart'
                        }, {
                            theme: 'primary',
                            size: mods.large && 'responsive',
                        }).product__thumb-btn

                        +btn({
                            url: 'javascript:void(0);',
                            text: 'View Gallery'
                        }, {
                            theme: 'gray',
                            size: mods.large && 'responsive',
                        }).product__thumb-btn
        else if data.gallery
            .product__gallery-wrap
                +product-gallery(data.gallery).product__gallery

        .product__info
            +rating(data.rating).product__rating

            .product__info-bottom
                a(href=data.link).product__name= data.name

                if data.oldPrice
                    .product__price
                        del.product__price-old $#{data.oldPrice}
                        ins.product__price-new $#{data.price}
                else
                    .product__price $#{data.price}
    // /.product 